@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@font-face {
  font-family: "Sketchzone";
  src: url(assets/fonts/Sketchzone.otf) format("opentype");
}
@font-face {
  font-family: "Highway";
  src: url(assets/fonts/HWYGOTH.TTF) format("opentype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/TEAM\ 1\ -\ WEBDEV\ \(2\)/assets/bg-blackboard.jpg);
    background-size: cover;
    background-color: #101c17;
  }
  
  header, footer {
    background: transparent;
    padding: 1em;
    text-align: center;
    font-weight: bold;
  }

  header {
    background: transparent;
    height: auto;
    width: 100%;
    background-size: contain;
    z-index: 2;
  }

  header > h1 {
    color: rgb(238, 253, 248);
    padding: 4%;
    font-family: "Sketchzone", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
  }

  main {
    position: relative;
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 1px, transparent 1px),url(/TEAM\ 1\ -\ WEBDEV\ \(2\)/assets/bg-dot.png);
    background-size: 100% 2.5em, auto;
    max-width: 700px;
    margin: 2em auto;
    padding: 4em 3em 4em 4em;
    border-radius: 10px;
    box-shadow: 0 4px 13px rgba(49, 29, 0, 1);
    border-left: 4px solid #feb304;
  }
  
  main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #feb304;
    opacity: 0.6;
  }
  

  fieldset {
    border: none;
    margin-bottom: 1.5em;
  }

  input, select {
    margin-bottom: 10px;
  }

  select option:disabled {
    color: rgb(159, 159, 159);
    font-style: italic;
  }  

  legend {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #02432d;
  }

  label {
    display: block;
    margin: 0.5em 0 0.2em;
    font-family: "Highway", sans-serif;
    font-size: 15px;
  }

  input[type="text"], input[type="checkbox"] select, textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  select {
    padding: 4px;
  }
  input::placeholder {
    font-style: italic;
}

hr {
  border: 1.5px solid #eeaf00;
  color: #013a24;
}

  .stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .stars input {
    display: none;
  }
  
  .stars label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s;
    margin-left: 20px;
  }
  
  .stars input:checked ~ label,
  .stars label:hover,
  .stars label:hover ~ label {
    color: gold;
    text-shadow:
      0 0 1px #a66a02,
      0 0 1px #a66a02,
      0 0 1px #a66a02,
      0 0 1px #a66a02,
      0 0 1px #a66a02;
  }

  textarea {
    padding: 1em;
  }

  label[for="anonymous"] {
    font-size: 14px;
    font-weight: 500;
  }
  

  .filter-section {
    margin-top: 2em;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
  }

  table, th, td {
    border: 1px solid #ccc;
  }

  th, td {
    padding: 0.5em;
    text-align: left;
  }

  th {
    font-family: "Antonio", sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #013a24;
    color: #fec804;
    text-align: center;
  }

  td {
    font-weight: 300;
  }

  .submit-section {
    margin: 20px 0 50px 0;
}

  button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 0.7em 2em;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "Highway", sans-serif;
  }

  button[type="submit"]:hover {
    background-color: #013a24;
    transform: scale(1.05);
    color: #fec804;
  }
  
  button[type="submit"]:active {
    transform: scale(0.95);
  }

  footer {
    position: relative; /* positioning of heaeder background*/
    height: auto;
    width: 100%;
    background-image: url(assets/bg-footer.jpeg);
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 2;
    padding: 4% 0 2% 0;
  }

  footer p {
    text-align: center;
    color: rgb(238, 253, 248);
    font-family: "Antonio", sans-serif;
    border-top: #06323f;
    text-transform: uppercase;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    color: #feb304;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
  }
  
  .footer-container p {
    margin: 20px 15px;
    font-weight: 100;
    cursor: pointer;
    color: rgb(238, 253, 248);
  }